@model ShoppingCart
<table style="width: 100%;">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (CartItem item in Model.Items)
            {
                <tr>
                    <td>@item.ProductName</td>
                    <td>@item.Price</td>
                    <td>@item.Quantity</td>
                    <td>@(item.Price * @item.Quantity)</td>
                    <td>
                        <a asp-controller="ShoppingCart" asp-action="RemoveItemFromCart"
                           asp-route-productId="@item.ProductId" class="btn btn-danger">
                            Xóa Khỏi giỏ hàng
                        </a>
                    </td>

                </tr>
            }
            <tr>
                <td colspan="3">Tổng cộng:</td>
                <td colspan="2">@Model.Items.Sum(n => n.Quantity * n.Price)</td>
            </tr>
        }

    </tbody>
</table>

<a asp-controller="ShoppingCart" asp-action="CheckOut" class="btn btn-danger m-2">Tới trang thanh toán</a>

