@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home Page";
}
<action class="py-2">
    @if (Model != null)
    {
        <div class="container py-4 mt-5">
            <div class="row gx-4 row-cols-4 justify-content-center">
                @foreach (Product item in Model)
                {
                    <div class="col mb-5">
                        <div class="card gap-3" style="width=10rem;">
                            <img src="@item.ImageUrl" class="card-img-top" alt="@item.ProductName" style="height:220px;object-fit:contain;" />
                            <div class="card-body">
                                <h5 class="card-title">@item.ProductName</h5>
                                <div class="d-flex">
                                    <span>Giá: </span>
                                    <p class="mx-3">@item.Price.ToString("0,000") VNĐ</p>
                                </div>
                                <a asp-controller="ShoppingCart" asp-action="AddItemToCart"
                                asp-route-productId="@item.Id" asp-route-quantity="1">
                                    <button class="btn btn-outline-dark">
                                        <i class="bi-cart-fill"></i>
                                        Thêm vào giỏ hàng
                                    </button>
                                </a>
                            </div>

                        </div>
                    </div>
                }
            </div>
        </div>
    }
</action>
